XTerm.termName: xterm-256color
XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 12 
XTerm.vt100.saveLines: 4096
XTerm.vt100.reverseVideo: true
XTerm*selectToClipboard: true
xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

